<h1>Reviews de <%= @restaurant.name %></h1> 
<li><h3>Reviews:</h3></li>
<% @reviews.each do |review| %>
<li> <ol><strong>Rating: </strong> <%= review.rating %> - <strong>Content: </strong><%= review.content %></ol></li>
<% end %>

<%= link_to "Home", restaurants_path %> 